.container {
  max-width: 120rem;
  margin: 6rem auto;
  background-color: var(--color-gray-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 40rem;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-gray-light-1);
}

.content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: var(--color-gray-dark-1);
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}
